*{
    margin: auto;
}
body{
    background-color: rgb(201, 135, 137);
    border-radius: 100px;
    margin: auto;
    width: 700px;
}
.mother{
    background-color: bisque;
    
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgb(69, 3, 3) 4px 4px 4px ;
}
.photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: white 5px solid;
    box-shadow: 5px 5px 5px;
    margin-left: 220px;

}
.heading{
    color: rgb(7, 7, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-bottom: 20px;
    padding-left: 210px;
}
#slogan{
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-bottom: 50px;
}
.title{
    padding-left: 230px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(45, 45, 191);
}

*{
    margin: auto;
}

.paragraph-2{
    background-color: bisque;
    height: 100px;
    width: 520px;
}
.sub-heading{
    padding-left: 200px;
    font-size: x-large;
    padding-bottom: 20px;
    color: rgb(28, 28, 123);
}
#paragraph-2{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 180px;
    
}
.heading-2{
    font-size: x-large;
    color: rgb(18, 18, 123);
    padding-bottom: 20px;
    padding-left: 50px;

}
#paragraph-3{
    font-family: 'Times New Roman', Times, serif;
}